<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nikialeksey.interview.imagesearch.show.impl">

    <application
        android:name="com.nikialeksey.interview.imagesearch.App"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

        <activity
            android:name="com.nikialeksey.interview.imagesearch.show.BackButtonTest$Activity"
            android:exported="true" />
    </application>

</manifest>